asyncio==3.4.3
async-executor==0.1.2
colorama==0.4.6
discord==2.3.2
discord.py==2.4.0
environs==11.0.0
glom==23.5.0
matplotlib==3.9.2
numpy==2.0.2
openpyxl==3.1.5
pandas==2.2.2
playwright==1.46.0
pymongo==4.8.0
pytz==2024.1
requests==2.32.3
table2ascii==1.1.3